body{
	/* background-color: #C8CBCC; */
	background-color: #FAFEFF;
}
.main {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.teamDiv {
	height: 300px;
	float: left;
	border: 1px solid skyblue;
	border-radius: 2px;
	margin: 5px 5px 30px 5px;
	padding: 20px;
}

.teamDiv img{
	height: 280px;
}

.findTeam {
	display: inline;
}

.monoton {
	font-family: 'Monoton', cursive;
}

.figure {
	height: 35vh;
}
.figure img {
	height: 30vh;
}

.listLabel {
	font-family: 'Monoton', cursive;
}
.resultList {
	list-style: none;
	margin-top: 40px;
	margin-bottom: 40px;
}
.resultList li {
	/* padding-bottom: 10px; */
}

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}
